{% extends "base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block header %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
    <link rel="stylesheet" href="{% static 'static/background.css' %}">
{% endblock %}

{% block content %}
    <section class="section has-background-light" style="height: 100%;">
        <div class="container" style="overflow-y: hidden">
            <h1 class="title" style="text-align: center;">Welcome to CitizenHelper!</h1>
            <h2 class="subtitle" style="text-align: center;">Realtime Streaming Analytics System for Mining Social, Web,
                and IoT Data for Emergency Services and Humanitarian Agencies</h2>
            <div class="box has-text-centered">
                <a href="{% url 'login' %}" class="button is-info">Contribute</a>
                <a href="http://citizenhelper.orc.gmu.edu:5601/" class="button is-info">Analytics</a>
                <figure class="image image is-fullwidth has-image-centered"
                        style="width: 900px;margin-left: auto;margin-right: auto;padding-top: 10px;">
                    <img src="static/static/background.png">
                </figure>
            </div>
        </div>
    </section>

    <footer class="footer border-top">
        <div class="columns">
            <div class="column">
                <h3 style="text-align: center;">
                    <a href="https://ist.gmu.edu/~hpurohit/informatics-lab.html">Human-Info-Lab</a>
                </h3>
                <p style="text-align: center;">
                    Volgenau School of Engineering, George Mason University, USA
                </p>
            </div>
        </div>
    </footer>
{% endblock %}

{% block footer %}
    {% render_bundle 'index' 'js' %}
{% endblock %}
